*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title> a{
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 10px;
    border: 2px solid black;
    
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li{
    display: inline-block;
    margin-right: 1rem;
}

.body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.restaurant{
    
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin : 20px;
    padding: 10px;
    box-shadow: #333;
}

.restaurant > img{
    width: 90%;
    height: 70%;
}
.shimmer{
    font-size: large;
    text-align: center;
}
/* .restaurant > h3{
    margin-top: 20px;
} */


